.header{
    width:100%;
    height: 76px;
    background-color:#fff;
    position: sticky;
    top: 0px;
    z-index: 1000;
}
body{
    padding: 0;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}
.logo{
    width: 30%;
    padding-top: 2px;
    float: left;
}
.login{
    width: 20%;
    height: 76px;
    float: right;
    padding-left: 53px;
    padding-top: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.drp-img{
    padding: 15px ;
}
.drp{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 23px;
    font-size: 30px;
}
.cont{
    margin-left: 17px;
    margin-left: 17px;
}
.get{
    width: 90px;
    height: 30px;
    font-size: 15px;
    border-radius: 15px;
    background-color: rgb(57, 57, 247);
    border-color: blue;
}
.div1{
    height: 300px;
    width: 100%;
    color: white;
}
.left-div{
    width: 50%;
    height: 525px;
    background-color: #2b2929;
    float: left;

}
.hd1{
    font-size: 30px;
    padding-left: 80px;
    padding-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    font-weight: 400;
}
.para1{
    padding-left: 80px;
}
.try-btn{
    padding-left: 80px;
}
.try-btn1{
    height: 70px;
    width: 150px;
    font-size: 18px;
    font-weight: bolder;
    border-radius: 15px;
    background-color: blue;
    border-color: blue;
}
.cnt-1{
    font-size: 20px;
    color: beige;
    font-weight: 500;
}
.arr-1{
    text-decoration: none;
    font-size: 20px;
    color: beige;
    font-weight: 500;
}
@keyframes move{
    0%{
        left: 0px;
    }
    100%{
        margin-left: 10px;
    }
}
.arr-1:hover{
    animation-name: move;
    animation-duration: 1s;
}   
.right-div{
    width: 50%;
    height: 525px;
    background-color: black;
    float: right;
    transform: translate(0px,-13px);
}
.vid{
    margin-top: 0;
    padding-bottom: 500px;
}
.div-2{
    background-color:#dbdbdb;
    width: 100%;
    height: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    text-align: center;
}
.hd-2{
    text-align: center;
    font-weight: 500;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    transform: translate(400px, 29px);
}
.para-2{
    font-size: 19px;
}
.para-3{
    text-align: center;
    font-size: 19px;
    font-family:Arial, Helvetica, sans-serif ;
    transform: translate(0px, -59px);
}
.div-3{
    width: 100%;
    height: 1000px;
}
.div-3-1{
    font-size: 20px;
    transform: translate(50px,50px);
    font-family:Arial, Helvetica, sans-serif ;
}
.box0{
    width: 400px;
    height: 30px;
    background-color: rgb(150, 222, 49);
    border-radius: 10px 10px 0px 0px;
    transform: translate(160px, 55px);
    font-family:Arial, Helvetica, sans-serif ;
}
.box1{
    width: 400px;
    height: 799px;
    background-color:rgb(248, 248, 242) ;
    transform: translate(100px, 50px);
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif ;
}
.box2{
    width: 400px;
    height: 799px;
    background-color:rgb(248, 248, 242);
    transform: translate(160px, 50px);
    border-radius: 0px 0px 10px 10px ;
    font-family:Arial, Helvetica, sans-serif ;
}
.box3{
    width: 400px;
    height: 799px;
    background-color:rgb(248, 248, 242);
    transform: translate(220px, 50px);
    border-radius: 10px;
    font-family:Arial, Helvetica, sans-serif ;
}
.box1-cnt{
    transform: translate(50px, 30px);
}
.box1-cnt1{
    color: gray;
}
.box1-cnt2{
    font-size: 40px;
}
.box1-cnt3{
    font-size: 25px;
}
.box1-cnt4{
    font-size: 18px;
    color: black;
}
#buy{
    color: black;
}
#buy1{
    color: black;
    text-decoration: none;
}
#buy2{
    font-size: 18px;
    color: black;
}
#buy3{
    font-size: 18px;
    color: black;
    text-decoration: none;
}
#buy4{
    font-size: 18px;
    color: black;
}
#buy5{
    font-size: 18px;
    color: black;
    text-decoration: none;
}

.box1-btn{
    height: 50px;
    width: 200px;
    background-color: blue;
    border-color: blue;
    border-radius: 10px;
}
.box2-cnt{
    transform: translate(50px, 30px);
}
.box2-cnt1{
    color: gray;
}
.box2-cnt2{
    font-size: 40px;
}
.box2-cnt3{
    font-size: 25px;
}
.box2-btn{
    height: 50px;
    width: 200px;
    background-color: blue;
    border-color: blue;
    border-radius: 10px;
}
.box3-cnt{
    transform: translate(50px, 30px);
}
.box3-cnt1{
    color: gray;
}
.box3-cnt2{
    font-size: 40px;
}
.box3-cnt3{
    font-size: 25px;
}
.box3-btn{
    height: 50px;
    width: 200px;
    background-color: blue;
    border-color: blue;
    border-radius: 10px;
}
.div-4{
    width: 100%;
    height: 600px;
    background-color: rgb(248, 248, 242);
}
.div-4-hd1{
    font-size: 40px;
    transform: translate(400px, 50px);
}
.div-4-hd2{
    font-size: 40px;
    transform: translate(600px, 15px);
}
.div-4-box1{
    transform: translate(225px, 50px);
}
.div-4-box2{
    transform: translate(275px, 48px);
}
.div-4-box3{
    transform: translate(325px, 35px);
}
.div-4-box4{
    transform: translate(400px, 55px);
}
#hd1{
    font-size: 20px;
}
.div-5{
    width: 100%;
    height: 1300px;
    color: white;
    background-color: rgb(29, 25, 25);
    margin-top: 0;
    transform: translate(0px, -29px);
}
.div-5-hd{
    font-size: 25px;
    transform: translate(500px, 10px);
}
.div-5-hd1{
    font-size: 20px;
    transform: translate(620px, 0px);
}
.div-5-lft{
    transform: translate(300px, 80px);
}
.div-5-rgt{
    font-size: 20px;
    transform: translate(600px, -199px);
}
.div-5-tbl1{
    font-size: 30px;
    transform: translate(700px, -40px);
}
.div-5-tbl2{
    font-size: 45px;
    transform: translate(300px, 30px);
}
.div-5-btn1{
    font-size: 30px;
    background-color: rgb(29 25 25);
    border-color: black;
    border: none;
    color: white;
}
.div-5-btn2{
    font-size: 17px;
    height: 70px;
    width: 200px;
    border-radius: 10px;
    border-color: blue;
    background-color: blue;
}
.div-5-box1{
    transform: translate(90px, 0px);
    width: 650px;
    height: 550px;
    background-color: #2b2929;
}
.mg-5-box1{
    height: 220px;
    width: 650px;
}
.hd-5-box1{
    transform: translate(90px, 30px);
}
.d5-box1-para{
    transform: translate(90px, 50px);
}
.div-5-box1-btn{
    transform: translate(120px, 80px);
    height: 50px;
    width: 260px;
    border-radius: 10px;
    border-color: blue;
    background-color: blue;
}
.div-5-box2{
    transform: translate(120px, 0px);
    width: 650px;
    height: 550px;
    background-color: #2b2929;
}
.mg-5-box2{
    height: 220px;
    width: 650px;
}
.hd-5-box2{
    transform: translate(90px, 30px);
}
.d5-box2-para{
    transform: translate(90px, 50px);
}
.div-5-box2-btn{
    transform: translate(120px, 80px);
    height: 50px;
    width: 260px;
    border-radius: 10px;
    border-color: blue;
    background-color: blue;
}
.div-6{
    background-color: black;
    height: 810px;
    width: 100%;
    transform: translate(0px, -30px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.div-6-box1{
    transform: translate(175px, 10px);
    color: #dbdbdb;
    padding-top: 50px;
    padding-bottom: 50px;
}
.div-6-box2{
    transform: translate(275px, 10px);
    color: #dbdbdb;
}
.div-6-box3{
    transform: translate(360px, 30px);
    color: #dbdbdb;
}
.div-6-box4{
    transform: translate(440px, 20px);
    color: #dbdbdb;
}
.div-6-box5{
    transform: translate(525px, 10px);
    color: #dbdbdb;
}
.div-6-box6{
    transform: translate(600px, -90px);
    color: #dbdbdb;
}
#div-6-ar1{
    padding-top: 20px;
    padding-bottom: 0px;
}
#div-6-ar2{
    padding-top: 20px;
    padding-bottom: 0px;
}
#div-6-ar3{
    padding-top: 20px;
    padding-bottom: 0px;
}
#div-6-ar4{
    padding-top: 20px;
    padding-bottom: 0px;
}
#div-6-ar5{
    padding-top: 20px;
    padding-bottom: 0px;
}
#div-6-ar6{
    padding-top: 20px;
    padding-bottom: 0px;
}
.div-6-mg1{
    height: 25px;
    width: 25px;
}
.div-6-mg2{
    height: 27px;
    width: 27px;
}
.div-6-mg3{
    height: 37px;
    width: 37px;
}
.div-6-li{
    transform: translate(100px, 50px);
    width: 200px;
    font-weight: lighter;
    color: #2b2929;
}
.div-6-lang{
    font-size: 20px;
    transform: translate(100px, 90px);
}
